%h1 Attachments

%table.table.table-striped
  %thead
    %tr
      %th id
      %th name

  %tbody
    - attachments.each do |attachment|
      %tr
        %td= attachment.id
        %td= link_to attachment.file, attachment.file.url
